<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Help My Fundraiser!</h1>
    <p>
      I'm raising money for <%= @campaign.name %>. Can you help me?<br>
    </p>
    <p>
      Just follow this link: <%= link_to 'my fundraiser', campaign_url(@campaign) %>.
    </p>
    <p>Thanks for reading and have a great day! <%= @user.email %></p>
  </body>
</html>
